.admin__menu {
  .item-favorites {
    > a {
      &:before {
        content:'\e625' !important;
      }
    }
  }
}

.favorites-wrapper {
  float: right;
  .favorites-action:before {
    content: "\e606";       /* This is not ideal, but it's good enough for now in a hackathon. */
    margin-right: 0;
    font-size: 1.9rem;
    font-family: 'Admin Icons';
  }
  .favorites-action:after {
    display: none;
  }

}
