.favorites-wrapper {
  float: right;
  .favorites-action:before {
    content: "\2605";       /* This is not ideal, but it's good enough for now in a hackathon. */
    margin-right: 0;
    font-size: 1.9rem;
    font-family: 'Admin Icons';
    line-height: .8;
  }
}

.delete_fav-wrapper {
  float: left;
  .delete_fav_item:before {
   content: "\e620";
   margin-right: 4px;
   font-size: 1.0rem;
   font-family: 'Admin Icons';
   line-height: .5;
   color:#eb5202;
  }
}

.edit_fav-wrapper {
  float: left;
  .edit_fav:before {
   content: "\e631";
   margin-right: 4px;
   font-size: 1.0rem;
   font-family: 'Admin Icons';
   line-height: .5;
   color:#41362f;
  }
}
